.venv/
__pycache__/
*.pyc
data/
dist/
.env
build/
*.spec
android/.gradle/
android/app/build/
android/local.properties
Attendly-Parent.apk
Attendly-Share/
firebase-adminsdk.json
secrets/
data/firebase-adminsdk.json
android/app/google-services.json
